


.tile{
    text-align: center;
    padding: 100px;
    
}

.tile:hover{
   transform: scale(1.10);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.info{
    text-align: center;
    margin-right: 100px;
}


header{
    background-color: rgb(15, 56, 80);
    color: aliceblue;
    height: 70px;
    margin-bottom: 20px;
}

.name h1{
    margin: 20px;
    
}


.infoForm{
    color: black;
}